{% load static %}
 
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
   <div class="container">
       <section class="footer-bottom border-top row">
           <div class="col-md-4">
               <p class="text-dark"> &copy 2023 HungryHub</p>
           </div>
           <div class="col-md-4 text-md-center d-block text-info pb-2">
               <span  class="px-2 py-3">hungryhub@gmail.com</span><br>   
               <span  class="px-2">+977-9815603612</span><br>
               
               <span  class="px-2">Kathmandu , Nepal</span>
               
           </div>
           <div class="col-md-4 text-md-center text-muted">
               <p class="text-center text-dark ">Payment Method</p>
               <img src="{% static './images/misc/PayPal.png' %}" alt="" height="40">
               
           </div>
       </section>
   </div>
</footer>
<!-- ========================= FOOTER END // ========================= -->